<!-- Theme JS files -->
<script src="../../../../global_assets/js/plugins/notifications/bootbox.min.js"></script>
<script src="../../../../global_assets/js/demo_pages/components_buttons.js"></script>
<div class="content p-0">
    <!-- Inner container -->
    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">
        <!-- Right sidebar component -->

        <!-- Left content -->
        <div class="tab-content w-100 order-2">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <legend class="font-weight-semibold">
                            <span>
                                <%= i18n.__('MSG_POB_INFORMATION_TITLE') %>
                            </span>
                        </legend>
                        <div class="card-body pb-0">
                            <form action="#" method="POST">
                                <div class="form-group">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_POB_BANK_NAME_TITLE') %>
                                                    <span class="text-danger">*</span>
                                            </label>
                                            <input type="hidden" name="pob_bank_name" id="pob_bank_name" value="" />
                                            <select class="form-control select select-bank">
                                                <option value="" selected> Tìm kiếm ngân hàng</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_POB_BANK_NUMBER_TITLE') %>
                                                    <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" name="pob_bank_number"
                                                placeholder="<%= i18n.__('MSG_POB_BANK_NUMBER_PLACEHOLDER') %>"
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_POB_BANK_USER_TITLE') %>
                                                    <span class="text-danger">*</span>
                                                    <button type="button" id="find-pob-bank-user"
                                                        class="btn btn-info px-2 py-0 text-center ml-2">Tìm thông tin
                                                        tài
                                                        khoản</button>
                                            </label>
                                            <input type="text" name="pob_bank_user"
                                                placeholder="<%= i18n.__('MSG_POB_BANK_USER_PLACEHOLDER') %>"
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_POB_MONEY_TITLE') %>
                                                    <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" name="pob_money"
                                                placeholder="<%= i18n.__('MSG_POB_MONEY_PLACEHOLDER') %>"
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="text-center p-3">
                            <button type="button"
                                class="btn btn-indigo rounded-pill text-center w-100 font-weight-bold line-height-xs pob-action"
                                id="pob-action">
                                <%= i18n.__('MSG_POB_TEST_BTN') %>
                            </button>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /left content -->
    </div>
    <!-- /inner container -->

</div>

<script>
    jQuery(document).ready(function ($) {
        // Format number amount
        function formatNumberAmount(amount) {
            return amount.split(/[,.]+/).join('')
        }

        $('input[name="pob_money"]').on('input', function (e) {
            const data_id = $(this).data('id');
            let value = $(this).val();
            value = value.split(/[,.]+/).join('');

            if (!isNaN(Number(value))) {
                value = Number(value).toLocaleString();
                $(this).val(value);
            } else {
                value = 0;
                $(this).val(value);
            }
        });

        fetchAPI({
            url: "/pob/list-bank",
            method: "POST",
            data: {}
        }).then(res => {
            if (!res.status) {
                _componentNoty(res.message, 'error');
                return;
            }

            _componentNoty(res.message, 'success');

            const listBankData = res.data.map(e => {
                return {
                    "id": e.bank_citad,
                    "text": e.bank_name,
                    "image": e.logo,
                    "value": e.bank_code

                }
            });

            $(".select-bank").select2({
                placeholder: "Chọn ngân hàng",
                allowClear: true,
                width: '100%',
                data: listBankData,
                templateSelection: (state) => {
                    if (!state.id) {
                        return state.text;
                    }
                    $("#pob_bank_name").val(state.value);
                    return $(
                        `<span class='d-flex align-items-center withdrawal__selection--item'><img src="${state.image}" class="img-flag" /> ${state.text}</span>`
                    );

                },
                templateResult: (state) => {
                    if (!state.id) {
                        return state.text;
                    }

                    return $(
                        `<span class='d-flex align-items-center withdrawal__selection--item'><img src="${state.image}" class="img-flag" /> ${state.text}</span>`
                    );
                }

            });
        }).catch(err => {
            console.log(err)
        })




        // Element input
        const el_pob_bank_name = $('input[name="pob_bank_name"]');
        const el_pob_bank_number = $('input[name="pob_bank_number"]');
        const el_pob_bank_user = $('input[name="pob_bank_user"]');
        const el_pob_money = $('input[name="pob_money"]');

        // Tìm thông tin chủ tài khoản
        $("#find-pob-bank-user").on("click", (e) => {
            let pob_bank_name = el_pob_bank_name.val();
            let pob_bank_number = el_pob_bank_number.val();

            if (pob_bank_name == "" || !pob_bank_name) {
                $(".select-bank").focus();
                $(".select2-selection--single").addClass('is-invalid');
                _componentNoty('<%= i18n.__("MSG_WARNING_POB_SELECT_BANK") %>', 'warning');
                return;
            } else {
                $(".select2-selection--single").removeClass('is-invalid');
            };


            if (!pob_bank_number || pob_bank_name == "") {
                return (
                    el_pob_bank_number.focus(),
                    el_pob_bank_number.addClass('is-invalid'),
                    _componentNoty('<%= i18n.__("MSG_WARNING_POB_VALIDATION_BANK_CODE") %>', 'warning')
                )
            } else {
                el_pob_bank_number.removeClass('is-invalid');
            }

            const data = {
                bank_code: pob_bank_name,
                account_number: pob_bank_number
            }

            $("#find-pob-bank-user").html('Đang xử lý...').addClass('disabled').attr('disabled', 'disabled');


            fetchAPI({
                url: envClientUrl + '/pob/get-receiver',
                method: 'POST',
                data
            }).then((res) => {
                $("#find-pob-bank-user").html('Tìm thông tin tài khoản').removeClass('disabled').removeAttr('disabled');

                if (!res.status) {
                    _componentNoty(res.message, 'error');
                    return;
                }

                if (res.data && res.data.account_name) {
                    el_pob_bank_user.val(res.data.account_name);
                    _componentNoty(res.message, 'success');
                } else {
                    _componentNoty('Lấy dữ liệu thất bại', 'error');
                }
            }).catch((err) => {
                $("#find-pob-bank-user").html('Tìm thông tin tài khoản').removeClass('disabled').removeAttr('disabled');;
                _componentNoty(err.message, 'error');
            })
        })

        // Handle event click button
        $("#pob-action").on("click", (e) => {
            let pob_bank_name = el_pob_bank_name.val();
            let pob_bank_number = el_pob_bank_number.val();
            let pob_bank_user = el_pob_bank_user.val();
            let pob_money = el_pob_money.val();

            if (pob_bank_name == "" || !pob_bank_name) {
                $(".select-bank").focus();
                $(".select2-selection--single").addClass('is-invalid');
                _componentNoty('<%= i18n.__("MSG_WARNING_POB_SELECT_BANK") %>', 'warning');
                return;
            } else {
                $(".select2-selection--single").removeClass('is-invalid');
            };


            if (!pob_bank_number || pob_bank_name == "") {
                return (
                    el_pob_bank_number.focus(),
                    el_pob_bank_number.addClass('is-invalid'),
                    _componentNoty('<%= i18n.__("MSG_WARNING_POB_VALIDATION_BANK_CODE") %>', 'warning')
                )
            } else {
                el_pob_bank_number.removeClass('is-invalid');
            }

            if (!pob_bank_user || pob_bank_user == "") {
                return (
                    el_pob_bank_user.focus(),
                    el_pob_bank_user.addClass('is-invalid'),
                    _componentNoty('<%= i18n.__("MSG_WARNING_POB_VALIDATION_ACCOUNT_NAME") %>', 'warning')
                )
            } else {
                el_pob_bank_user.removeClass('is-invalid');
            }


            if (!pob_money || pob_money == '' || pob_money == '0') {
                el_pob_money.focus();
                el_pob_money.addClass('is-invalid');
                _componentNoty('Vui lòng nhập số tiền thử nghiệm', 'warning');
                return;
            } else {
                el_pob_money.removeClass('is-invalid');
            }

            $("#pob-action").html('<i class="icon-spinner9 spinner mr-2"></i> Tiến hành thử nghiệm chi hộ...').addClass('disabled').attr('disabled', 'disabled');;

            const data = {
                amount: formatNumberAmount(pob_money),
                bank_code: pob_bank_name,
                account_number: pob_bank_number,
                account_name: pob_bank_user,
            }

            fetchAPI({
                url: envClientUrl + '/pob/create-transaction',
                method: 'POST',
                data
            }).then((res) => {
                $("#pob-action").html('THỬ NGHIỆM').removeClass('disabled').removeAttr('disabled');
                _componentNoty(res.message, (!res.status ? 'error' : 'success'));
                return;
            }).catch((err) => {
                $("#pob-action").html('THỬ NGHIỆM').removeClass('disabled').removeAttr('disabled');
                _componentNoty(err.message, 'error');
            })
        })
    });
</script>