<!-- Date time picker -->
<script src="/global_assets/js/plugins/ui/moment/moment.min.js"></script>
<script src="/global_assets/js/plugins/pickers/daterangepicker.js"></script>
<script src="/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
<script src="/global_assets/js/demo_pages/picker_date.js"></script>

<script>
    function uploadProfile(ele) {
        let file = $(ele)[0].files[0]
        let formData = new FormData()
        formData.set('imgProfile', file);

        $.ajax({
            url: envClientUrl + '/ajax/profile/update-profilePhoto',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                let styleMsg = (res.status == true) ? 'success' : 'error';
                if (res.status == true) {
                    $('.user-profile-avatar').attr("src", res.profilePhoto);
                    $('.sidebar-section .main-user-avatar img').attr("src", res.profilePhoto);
                } else {
                    styleMsg = 'error';
                }

                
                _componentNoty(res.message, styleMsg);
                return
            },
            error: function (error) {
                console.log(error)
            }
        })
    }

    function uploadDefaultProfile(ele) {
        $.ajax({
            url: envClientUrl + '/ajax/profile/update-default',
            type: 'POST',
            dataType: 'json',
            data: {},
            success: function (res) {
                let styleMsg = (res.status == true) ? 'success' : 'error';
                if (res.status == true) {
                    $('.user-profile-avatar').attr("src", res.profilePhoto);
                    $('.sidebar-section .main-user-avatar img').attr("src", res.profilePhoto);
                } else {
                    styleMsg = 'error';
                }

                _componentNoty(res.message, styleMsg);
            },
            error: function (error) {
                console.log(error)
            }
        })
    }

    const uploadPhoto = (ele) => {
        let datatype = $(ele).data("type");
        let file = $(ele)[0].files[0];
        let formData = new FormData()
        formData.append('upload', file);
       
        $.ajax({
            url: envClientUrl + '/ajax/profile/upload-image',
            type: 'POST',
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (res) {
                let message, styleMsg;
                if (res.status == true) {
                    $('img.'+datatype).attr('src', res.relativeUploadedImage);
                    $('input#'+datatype).val(res.relativeUploadedImage);
                    styleMsg = 'success';
                    message = '<%= i18n.__("MSG_UPLOAD_PHOTO_SUCCESSFULLY") %>';
                } else {
                    message = '<%= i18n.__("MSG_UPLOAD_PHOTO_FAIL") %>';
                    styleMsg = 'error';
                }

                _componentNoty(message, styleMsg);
            },
            error: function (error) {
                console.log(error)
            }
        });
    }
</script>

<style>
    .iti {
        display: block;
        width: 65px;
        float: left;
    }
    i.fab.fa-google {
        color: #e94820 !important;
        font-size: 14px;
    }

    i.fab.fa-facebook-square.mr-2 {
        color: #5858FA;
        font-size: 17px;
    }

    div#connection button.btn-icon {
        background: #fff;
        border: 1px solid #dcdfe6;
        padding: 10px 60px;
        font-size: 14px;
        border-radius: 4px;
        font-size: 15px;
    }

    .col-lg-6.connect {
        display: flex;
    }

    span.span-text {
        font-size: 15px;
        margin-top: 6px;
        margin-right: 19px;
        font-weight: 600;
    }
</style>

<div class="card">
    <!-- <div class="card-header">
        <h5 class="card-title">
            <%= i18n.__('MSG_USER_INFORMATION_TITLE') %>
        </h5>
    </div> -->

    <div class="card-body">

        <div class="media align-items-center text-center text-lg-left flex-column flex-lg-row m-0">
        
            <div class="media-body ml-3">
                <ul class="list list-unstyled mb-0">
                    <li><%= i18n.__('MSG_LANGUAGE_TITLE') %>: &nbsp;
                        <% languages.data.forEach(lang => {
                            if (languages.currentLang === lang.code) { %>
                                <span><%= lang.nativeName %></span>
                            <% } });  %>
                    </li>
                    <li>
                        <%= i18n.__('MSG_STATUS_INFORMATION_TITLE') %>: &nbsp;
                        <span class="badge badge-success"><%= i18n.__('MSG_VERIFIED_TITLE') %></span>
                    </li>
                    <li>
                        <%= i18n.__('MSG_LOGIN_INFORMATION_TITLE') %>: &nbsp;
                        <span><%= loginDetail %></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <form action="<%= envClientUrl %>/change_information" method="POST">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <%= i18n.__('MSG_PROFILE_INFORMATION_TITLE') %>
            </h5>
        </div>

        <div class="card-body">

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_EMAIL_TITLE') %>
                        </label>
                        <input name="email" type="email" value="<%= (user.email) ? user.email : '' %>" class="form-control" readonly="true"/>
                    </div>
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_ADDRESS_TITLE') %>
                        </label>
                        <input name="address" type="text"
                            value="<%= (user.address) ? user.address : '' %>" class="form-control"
                            placeholder=" <%= i18n.__('MSG_ADDRESS_PLACEHOLDER') %> " />
                    </div>
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_PHONE_TITLE') %>
                        </label>
                        <div>
                            <input type="text" name="phone" value="<%= (user.phone) ? user.phone  : '' %>" class="form-control"
                             placeholder="<%= i18n.__('MSG_PHONE_PLACEHOLDER') %>"/>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_FULL_NAME_TITLE') %>
                        </label>
                        <input name="fullName" type="text"
                            value="<%= (user.fullName) ? user.fullName : '' %>" class="form-control"
                            placeholder=" <%= i18n.__('MSG_FULL_NAME_PLACEHOLDER') %> " />
                    </div>
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_DOB_TITLE') %>
                        </label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input type="text" name="dob" class="form-control daterange-single"
                                value="<%= (user.dob) ? new Date(user.dob).toLocaleDateString('en-US') : new Date(Date.now()).toLocaleDateString('en-US') %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_GENDER_TITLE') %>
                        </label>
                        <select name="gender" class="custom-select">
                            <optgroup label="<%= i18n.__('MSG_CHOOSE_GENDER_TITLE') %>  ">
                                <% if(user.gender==='male' ) { %>
                                    <option value="male" selected>
                                        <%= i18n.__('MSG_MALE_TITLE') %>
                                    </option>
                                    <option value="female">
                                        <%= i18n.__('MSG_FEMALE_TITLE') %>
                                    </option>
                                    <% } else {%>
                                        <option value="male">
                                            <%= i18n.__('MSG_MALE_TITLE') %>
                                        </option>
                                        <option value="female" selected>
                                            <%= i18n.__('MSG_FEMALE_TITLE') %>
                                        </option>
                                        <% } %>
                            </optgroup>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">
                <%= i18n.__('MSG_SECURITY_INFORMATION') %>
            </h5>
            <div class="row">
                <div class="col-lg-12">
                    <% if (security_check_info) { %>
                    <div class="alert alert-warning alert-styled-left alert-dismissible mt-2">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                        <span class="font-weight-semibold"><%= i18n.__('MSG_WARNING_TITLE') %></span> <%= i18n.__('MSG_MISSING_IDENTITY_INFORMATION') %>
                    </div>
                    <% } %>
                    <% if (security_check_age) { %>
                    <div class="alert alert-warning alert-styled-left alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert"><span>×</span></button>
                        <span class="font-weight-semibold"><%= i18n.__('MSG_WARNING_TITLE') %></span> <%= i18n.__('MSG_YOU_UNDER_18_YEAR_OLDER' )%>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_IDENTITY_CARD_NUMBER_TITLE') %>
                        </label>
                        <input name="identityCardNumber" type="text"
                            value="<%= (user.identityCardNumber) ? user.identityCardNumber  : '' %>"
                            class="form-control"
                            placeholder=" <%= i18n.__('MSG_IDENTITY_CARD_NUMBER_PLACEHOLDER') %> " />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_IDENTITY_HOMETOWN_TITLE') %>
                        </label>
                        <input name="identityHometown" type="text"
                            value="<%= (user.identityHometown) ? user.identityHometown  : '' %>"
                            class="form-control"
                            placeholder=" <%= i18n.__('MSG_IDENTITY_HOMETOWN_PLACEHOLDER') %> " />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_RECEIPT_ADDRESS_TITLE') %>
                        </label>
                        <input name="recipients" type="text"
                            value="<%= (user.recipients) ? user.recipients  : '' %>"
                            class="form-control"
                            placeholder=" <%= i18n.__('MSG_RECEIPT_ADDRESS_PLACEHOLDER') %> " />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_DATE_RECEIPT_TITLE') %>
                        </label>
                        <div class="input-group">
                            <span class="input-group-prepend">
                                <span class="input-group-text"><i class="icon-calendar22"></i></span>
                            </span>
                            <input type="text" name="dateRecipients"
                                class="form-control daterange-single"
                                value="<%= (user.dateRecipients) ? new Date(user.dateRecipients).toLocaleDateString('en-US') : new Date(Date.now()).toLocaleDateString('en-US') %>">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_NATIONAL_TITLE') %>
                        </label>
                        <input name="identityNationality" type="text"
                            value="<%= (user.identityNationality) ? user.identityNationality  : '' %>"
                            class="form-control"
                            placeholder=" <%= i18n.__('MSG_NATIONAL_PLACEHOLDER') %> " />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="d-block">
                                    <%= i18n.__('MSG_IDENTITY_PHOTO_TITLE') %>
                                </label>
                                <div class="text-muted"><%= i18n.__('MSG_IDENTITY_PHOTO_DESCRIPTION2') %></div>
                                <div class="images-circle pb-1 pt-3">
                                    <label for="identity-photo-input1">
                                        <img class="identity-photo1" style="width: 150px; height: 150px; cursor: pointer;" src="<%= (user && user.identityLicenseBefore) ? user.identityLicenseBefore : '/images/default-photo.png' %>" />
                                    </label>
                                    <div class="text-muted"><%= i18n.__('MSG_UPLOAD_TITLE') %></div>
                                    <input onchange="uploadPhoto(this)" type="file" id="identity-photo-input1" data-type="identity-photo1" style="display: none;" />
                                    <input type="hidden" name="identityLicenseBefore" id="identity-photo1" value="<%= (user && user.identityLicenseBefore) ? user.identityLicenseBefore : '' %>" />
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="d-block">
                                    <%= i18n.__('MSG_IDENTITY_PHOTO_TITLE') %>
                                </label>
                                <div class="text-muted"><%= i18n.__('MSG_IDENTITY_PHOTO_DESCRIPTION2') %></div>
                                <div class="images-circle pb-1 pt-3">
                                    <label for="identity-photo-input2">
                                        <img class="identity-photo2" style="width: 150px; height: 150px; cursor: pointer;" src="<%= (user && user.identityLicenseAfter) ? user.identityLicenseAfter : '/images/default-photo.png' %>" />
                                    </label>
                                    <div class="text-muted"><%= i18n.__('MSG_UPLOAD_TITLE') %></div>
                                    <input onchange="uploadPhoto(this)" type="file" id="identity-photo-input2" data-type="identity-photo2" style="display: none;"  />
                                    <input type="hidden" name="identityLicenseAfter" id="identity-photo2" value="<%= (user && user.identityLicenseAfter) ? user.identityLicenseAfter : '' %>" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="text-right">
                <button type="submit" class="btn btn-teal"><i class="icon-pen2 mr-2"></i>
                    <%= i18n.__('MSG_SAVE_BTN') %>
                </button>
            </div>
        </div>
    </div>
</form> -->