<script src="/global_assets/js/demo_pages/form_validation.js"></script>
<script src="/global_assets/js/plugins/forms/validation/validate.min.js"></script>
<script src="/global_assets/js/plugins/uploaders/bs_custom_file_input.min.js"></script>

<div class="card">
    <div class="card-body">
        <form action="<%= envClientUrl %>/change_login" method="POST" class="form-validate-jquery">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_USERNAME_TITLE') %>
                        </label>
                        <input name="username" type="text" value="<%= user.username %>"
                            readonly="readonly" class="form-control">
                    </div>
        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_OLD_PASSWORD_TITLE') %>
                        </label>
                        <input type="password" name="old_password" id="old_password" class="form-control"
                            required placeholder="<%= i18n.__('MSG_OLD_PASSWORD_PLACEHOLDER') %>">
        
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_PASSWORD_TITLE') %>
                        </label>
                        <input type="password" name="password" id="password" class="form-control"
                            required placeholder="<%= i18n.__('MSG_NEW_PASSWORD_PLACEHOLDER') %>">
        
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>
                            <%= i18n.__('MSG_REPEAT_PASSWORD_TITLE') %>
                        </label>
                        <input type="password" name="repeat_password" class="form-control" required
                            placeholder="<%= i18n.__('MSG_REPEAT_PASSWORD_PLACEHOLDER') %> ">
                    </div>
                </div>
            </div>
        
            <div class="text-right">
                <button type="submit" class="btn btn-teal"><i class="icon-pen2 mr-2"></i>
                    <%= i18n.__('MSG_SAVE_BTN') %>
                </button>
            </div>
        </form>
    </div>
</div>
