<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title><%= pageTitle %></title>

	<!-- Global stylesheets -->
	<link href="/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/assets_core/css/ltr/all.min.css" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/assets/js/jquery/jquery.min.js"></script>
	<script src="/assets_core/js/app.js"></script>

	<!-- /theme JS files -->
	<script src="/assets/js/vendor/notifications/noty.min.js"></script>
	<script>
		const _componentNoty = function (text, type) {
			if (typeof Noty == 'undefined') {
				console.warn('Warning - noty.min.js is not loaded.');
				return;
			}

			// Override Noty defaults
			Noty.overrideDefaults({
				theme: 'limitless',
				layout: 'topRight',
				type: 'alert',
				timeout: 2500
			});

			return new Noty({ text, type }).show();
		};

		document.addEventListener('DOMContentLoaded', function () {
			const stateMsg = JSON.parse('<%- JSON.stringify(stateMsg) %>');

			if (stateMsg) {
				let message = (stateMsg.message) ? stateMsg.message : '';
				let type = (typeof stateMsg.status !== 'undefined' && !stateMsg.status) ? 'error' : 'success';

				// Show message error
				if (message) _componentNoty(message, type);
			}
		});
	</script>
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-dark navbar-expand-lg navbar-static border-bottom border-bottom-white border-opacity-10">
		<div class="container-fluid">
			<div class="d-flex d-lg-none me-2">
				<button type="button" class="navbar-toggler sidebar-mobile-main-toggle rounded-pill">
					<i class="ph-list"></i>
				</button>
			</div>

			<div class="navbar-brand flex-1 flex-lg-0">
				<a href="/" class="d-inline-flex align-items-center">
					<img src="/images/logo.svg" alt="">
					<span class="text-white mx-2">Voice Biometrics</span>
				</a>
			</div>

			<ul class="nav flex-row justify-content-end order-1 order-lg-2">
				<li class="nav-item ms-lg-2">
					<a href="#" class="navbar-nav-link navbar-nav-link-icon rounded-pill" data-bs-toggle="offcanvas"
						data-bs-target="#notifications">
						<i class="ph-bell"></i>
						<span
							class="badge bg-yellow text-black position-absolute top-0 end-0 translate-middle-top zindex-1 rounded-pill mt-1 me-1">0</span>
					</a>
				</li>
				<li class="nav-item ms-lg-2">
					<a href="#" class="navbar-nav-link navbar-nav-link-icon rounded-pill" data-bs-toggle="offcanvas"
						data-bs-target="#notifications">
						<i class="ph-envelope-simple"></i>
						<span
							class="badge bg-yellow text-black position-absolute top-0 end-0 translate-middle-top zindex-1 rounded-pill mt-1 me-1">0</span>
					</a>
				</li>

				<li class="nav-item nav-item-dropdown-lg dropdown ms-lg-2">
					<a href="#" class="navbar-nav-link align-items-center rounded-pill p-1" data-bs-toggle="dropdown">
						<div class="status-indicator-container">
							<img src="../../../assets/images/demo/users/face2.jpg" class="w-32px h-32px rounded-pill"
								alt="">
							<span class="status-indicator bg-success"></span>
						</div>
						<span class="d-none d-lg-inline-block mx-lg-2">Khang Minh Dam</span>
					</a>

					<div class="dropdown-menu dropdown-menu-end">
						<a href="/logout" class="dropdown-item">
							<i class="ph-sign-out me-2"></i>
							Đăng xuất
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content">

		<!-- Main sidebar -->
		<div class="sidebar sidebar-dark sidebar-main sidebar-expand-lg">

			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- Sidebar header -->
				<div class="sidebar-section">
					<div class="sidebar-section-body d-flex justify-content-center">
						<h5 class="sidebar-resize-hide flex-grow-1 my-auto">Danh mục</h5>

						<div>
							<button type="button"
								class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
								<i class="ph-arrows-left-right"></i>
							</button>

							<button type="button"
								class="btn btn-flat-white btn-icon btn-sm rounded-pill border-transparent sidebar-mobile-main-toggle d-lg-none">
								<i class="ph-x"></i>
							</button>
						</div>
					</div>
				</div>
				<!-- /sidebar header -->


				<!-- Main navigation -->
				<div class="sidebar-section">
					<ul class="nav nav-sidebar" data-nav-type="accordion">

						<li class="nav-item">
							<a href="/customer" class="nav-link <%= activeTab == 'customer' ? 'active' : '' %>">
								<i class="ph-users-three"></i>
								<span>
									Thông tin khách hàng
								</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/voicebio" class="nav-link <%= activeTab == 'voicebio' ? 'active' : '' %>">
								<i class="ph-vibrate"></i>
								<span>Đăng ký giọng nói</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/verify" class="nav-link <%= activeTab == 'verify' ? 'active' : '' %>">
								<i class="ph-shield-check"></i>
								<span>Xác thực SĐT</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/payment" class="nav-link <%= activeTab == 'payment' ? 'active' : '' %>">
								<i class="ph-shopping-cart"></i>
								<span>Xác thực thanh toán</span>
							</a>
						</li>

					</ul>
				</div>
				<!-- /main navigation -->

			</div>
			<!-- /sidebar content -->

		</div>
		<!-- /main sidebar -->


		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">
				<!-- Page header -->
				<div class="page-header" style="position: relative; z-index: 0;">
					<div style="width: 100%; max-width: 100%; overflow: hidden; position: inherit; top: -60px;">
						<img src="./images/graphic_side.png" style="width: 100%; height: auto; display: block; object-fit: cover;" />
					</div>
				</div>
				<!-- /page header -->


				<!-- Content area -->
				<div class="content" style="position: relative; top: -120px; z-index: 1;">
					<%- include(pageContent) %>
				</div>
				<!-- /content area -->


				<!-- Footer -->
				<div class="navbar navbar-sm navbar-footer border-top">
					<div class="container-fluid">

						<ul class="nav">
							<li class="nav-item">
								<a href="#" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-lifebuoy"></i>
										<span class="d-none d-md-inline-block ms-1">Privacy policy</span>
									</div>
								</a>
							</li>
							<li class="nav-item ms-md-1">
								<a href="#" class="navbar-nav-link navbar-nav-link-icon rounded" target="_blank">
									<div class="d-flex align-items-center mx-md-1">
										<i class="ph-file-text"></i>
										<span class="d-none d-md-inline-block ms-1">Terms of use</span>
									</div>
								</a>
							</li>
						</ul>

						<span>&copy; 2024 <a href="#">Voice BIO</a></span>
					</div>
				</div>
				<!-- /footer -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	<!-- Notifications -->
	<%- include('notifications/display.ejs') %>
		<!-- /notifications -->

</body>

</html>