<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= i18n.__('MSG_FORGOT_PASSWORD_TITLE') %></title>
    <link rel="icon" type="image/x-icon" href="/images/default_favicon.ico">

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
        type="text/css">
    <link href="/global_assets/css/icons/icomoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="/global_assets/js/main/jquery.min.js"></script>
    <script src="/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="/global_assets/js/plugins/forms/validation/validate.min.js"></script>
    <!-- Theme JS files -->
    <script src="/assets/js/app.js"></script>
    <script src="/global_assets/js/demo_pages/form_validation.js"></script>
    <!-- /theme JS files -->
</head>

<body>
    <!-- NAV content -->
    <div class="navbar navbar-expand-lg navbar-light navbar-static">
        <div class="navbar-brand text-center text-lg-left" style="padding-top: 0.6rem; padding-bottom: 0.6rem;">
            <a href="/" class="d-inline-block"> 
                <img src="/images/logo-vmg.png" class="d-none d-sm-block" alt="" style="height: 36px !important;">
				<img src="/images/logo-vmg.png" class="d-sm-none" alt="" style="height: 36px !important;">
            </a>
        </div>
        <div class="collapse navbar-collapse order-2 order-lg-1" id="navbar-mobile">
		</div>
        <div class="d-flex justify-content-end align-items-center flex-1 flex-lg-0 order-1 order-lg-2">
            <ul class="navbar-nav flex-row">
                <li class="nav-item nav-item-dropdown-lg dropdown">
                    <a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <% if (i18n.getLocale() === 'en') { %>
                        <img src="/global_assets/images/lang/gb.png" class="img-flag" alt="">
                        <span class="d-none d-lg-inline-block ml-2">English</span>
                        <% } else { %>
                        <img src="/global_assets/images/lang/vi.png" class="img-flag" alt="">
                        <span class="d-none d-lg-inline-block ml-2">Vietnamese</span>
                        <% } %>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="<%= envAuthUrl + '/forgot-password?lang=en' %>" class="dropdown-item <%= (i18n.getLocale() === 'en') ? 'active' : '' %>" data-lang="en">
                            <img src="/global_assets/images/lang/gb.png" class="img-flag" alt="">
                            English
                        </a>
                        <a href="<%= envAuthUrl + '/forgot-password?lang=vi' %>" class="dropdown-item <%= (i18n.getLocale() === 'vi') ? 'active' : '' %>" data-lang="vi">
                            <img src="/global_assets/images/lang/vi.png" class="img-flag" alt="">
                            Vietnamese
                        </a>
                    </div>
                </li>
            </ul>
        </div>
		
	</div>
    <!-- NAV content -->
    
    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <!-- Content area -->
                <div class="content d-flex justify-content-center align-items-center">

                    <!-- Password recovery form -->
                    <form class="login-form form-validate-jquery" action="<%= envApiUrl %>/api/auth/forgot-password" id="forgotForm">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div class="text-center mb-3">
                                    <i
                                        class="icon-spinner11 icon-2x text-warning border-warning border-3 rounded-pill p-3 mb-3 mt-1"></i>
                                    <h5 class="mb-0"> </h5>
                                    <span class="d-block text-muted"><%= i18n.__("MSG_WE_SEND_RESET_LINK_TO_YOUR_EMAIL") %> </span>
                                </div>

                                <div class="form-group form-group-feedback form-group-feedback-right">
                                    <input type="email" name="email" class="form-control" id="email" required
                                        placeholder="<%= i18n.__('MSG_ENTER_EMAIl_PLACEHOLDER') %> ">
                                </div>

                                <button type="submit" class="btn btn-primary btn-block"><i
                                        class="icon-spinner11 mr-2"></i> <%= i18n.__('MSG_FORGOT_PASSWORD_BTN') %> </button>
                            </div>
                        </div>
                    </form>
                    <!-- /password recovery form -->

                </div>
                <!-- /content area -->

            </div>
            <!-- /inner content -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
    <script>
        $('input[type="email"]').keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        $('button[type="submit"]').on('click', (e) => {
            if ($('#email-error').hasClass('validation-valid-label')) {
                // this is the id of the form
                $("#forgotForm").submit(function (e) {
                    e.preventDefault(); // avoid to execute the actual submit of the form.

                    const form = $(this);
                    const url = $(this).attr('action');


                    $(this).find('button[type="submit"] i').removeClass('icon-spinner11').addClass('icon-spinner9 spinner');

                    setTimeout(() => {
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: form.serialize(), // serializes the form's elements.
                            success: function (data) {
                                let message = '<div class="card-message">';
                                if (data.status) {
                                    message += '<label class="validation-invalid-label validation-valid-label"> <%= i18n.__("MSG_PLEASE_CHECK_INBOX_EMAIL") %>  ' + data.data.email + '</label>';
                                } else {
                                    message += '<label class="validation-invalid-label">' + data.message + '</label>';
                                    message += '<label class="validation-invalid-label"><a href="'+data.data.envAuthUrl+'/forgot-password "><%= i18n.__("MSG_TRY_AGAIN_TITLE") %></a>.</label>';
                                }
                                message += '<div class="form-group d-flex align-items-center"><a href="'+data.data.envAuthUrl+'" class="ml-auto"><%= i18n.__("MSG_LOGIN_TITLE") %></a></div>';
                                message += '</div>';

                                $('#email-error').remove();
                                $('input[name="email"]').parent().prepend(message);
                                $('input[name="email"]').remove();
                                form.find('button[type="submit"').remove();
                            }
                        });
                    }, 750);
                });
            }
        });

    </script>
</body>

</html>