<script src="/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/global_assets/js/demo_pages/datatables_basic.js"></script>
<script src="/global_assets/js/plugins/ui/moment/moment.min.js"></script>
<script src="/global_assets/js/plugins/pickers/daterangepicker.js"></script>
<script src="/global_assets/js/plugins/pickers/pickadate/picker.js"></script>
<script src="/global_assets/js/plugins/pickers/pickadate/picker.date.js"></script>
<script src="/global_assets/js/plugins/pickers/pickadate/picker.time.js"></script>
<script src="/global_assets/js/plugins/pickers/pickadate/legacy.js"></script>
<script src="/global_assets/js/demo_pages/picker_date.js"></script>

<style>
     .daterangepicker.rtl.show-calendar.opensleft {right: 20px !important;}
    .datatable-footer .dataTables_info,
    .datatable-header .dataTables_filter {
        display: none;
    }

    .datatable-footer .dataTables_paginate {
        float: none;
        text-align: center !important;
    }
    .dataTable thead .sorting, 
    .dataTable thead .sorting_asc, 
    .dataTable thead .sorting_asc_disabled, 
    .dataTable thead .sorting_desc, 
    .dataTable thead .sorting_desc_disabled {
        padding-right: 2rem !important;
    }
</style>
<% 
function rename_type(type) {
    let str;
    switch (type) {
        case 'topup':
            str = 'Nạp tiền';
            break;
        case 'withdraw':
            str = 'Rút tiền';
            break;
        case 'payment':
            str = 'Thanh toán';
            break;
        case 'transfers':
            str = 'Chuyển tiền';
            break;
        case 'refund':
            str = 'Hoàn tiền';
            break;
        case 'receive':
            str = 'Nhận tiền';
            break;
    
        default:
            str = 'Không xác định';
            break;
    }
    return str;
}

function rename_class(type) {
    let str;
    switch (type) {
        case 'topup':
            str = 'badge-success';
            break;
        case 'withdraw':
            str = 'badge-indigo';
            break;
        case 'payment':
            str = 'badge-danger';
            break;
        case 'transfers':
            str = 'badge-info';
            break;
        case 'receive':
            str = 'badge-warning';
            break;
        case 'refund':
            str = 'badge-warning';
            break;
    }
    return str;
}
%>

<div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">
       
        <!-- Inner content -->
        <div class="content-inner">
            <div class="content pt-0">

                <!-- Bordered striped table -->
                <div class="card">
                    <table class="table datatable-basic table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    <%= i18n.__('MSG_FLUCTUATIONS_TABLE_TRANSACTION_HEADER') %>
                                </th>
                                <th class="text-center">
                                    <%= i18n.__('MSG_FLUCTUATIONS_TABLE_TYPE_HEADER') %>
                                </th>
                                <th class="text-center">
                                    <%= i18n.__('MSG_FLUCTUATIONS_TABLE_AMOUNT_HEADER') %>
                                </th>
                                <th class="text-center">
                                    <%= i18n.__('MSG_FLUCTUATIONS_TABLE_MESSAGE_HEADER') %>
                                </th>
                                <th class="text-center">
                                    <%= i18n.__('MSG_FLUCTUATIONS_TABLE_DATE_HEADER') %>
                                </th>
                                <th hidden></th>
                                <th hidden></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% fluctuations.forEach( (item, index)=> {%>
                                <tr>
                                    <td hidden></td>
                                    <td class="text-center">
                                        <%= item.transaction_id %>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge <%= rename_class(item.type) %>">
                                        <%= rename_type(item.type) %>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span class="<%= (item.price_before - item.price_after) < 0 ? 'text-success' : 'text-danger' %>">
                                            <%= (Math.abs(item.price_before - item.price_after)).toLocaleString() %> VND
                                        </span>
                                    </td>
                                    <td class="text-center"><a href="javascript:void">
                                        <%= (item.message) ? item.message : 'MSG_UNDEFINED_TITLE' %>
                                    </a></td>
                                    <td class="text-center">
                                        <%= moment(item.createdAt).tz('Asia/Ho_Chi_Minh').format("YYYY/MM/DD, HH:mm:ss") %>
                                    </td>
                                    <td hidden></td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <!-- /bordered striped table -->
            </div>

            <!-- /content area -->

        </div>
        <!-- /inner content -->
    </div>
    <!-- /main content -->
</div>
