<style>
    .card-coin-input {
        cursor: pointer;
    }

    .card-coin-input:hover,
    .card-coin-input.card-picked {
        outline: #009A00;
        border: 1px solid #009A00;
    }

    .card-checked {
        position: absolute;
        top: 0;
        right: 0;
    }
</style>
<!-- Theme JS files -->
<script src="../../../../global_assets/js/plugins/notifications/bootbox.min.js"></script>
<script src="../../../../global_assets/js/demo_pages/components_buttons.js"></script>
<div class="content p-0">
    <!-- Inner container -->
    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">
        <!-- Right sidebar component -->

        <!-- Left content -->
        <div class="tab-content w-100 order-2">
            <div class="card">
                <div class="card-body">

                    <div class="form-group">
                        <legend class="font-weight-semibold">
                            <span>
                                <%= i18n.__('MSG_PAY_INFORMATION_TITLE') %>
                            </span>
                        </legend>
                        <!-- <div class="row mb-3">
                            <div class="card-body">
                                <div class="media">
                                    <div class="mr-3">
                                        <i class="icon-piggy-bank text-success icon-3x"></i>
                                    </div>

                                    <div class="media-body">
                                        <h6 class="mb-0">
                                            <%= i18n.__('MSG_SCORE_TITLE') %>
                                        </h6>
                                        <span class="text-success font-weight-bold">
                                            <%= (user && user.money) ? user.money.toLocaleString() : 0 %>
                                        </span>
                                    </div>

                                    <div class="ml-3 align-self-center">
                                        <ul class="list list-unstyled mb-0">
                                            <li>
                                                <i class="icon-checkmark-circle text-success mr-2"></i>
                                                <%= i18n.__('MSG_WALLET_TOPUP_DESCRIPTION1') %>
                                            </li>
                                            <li>
                                                <i class="icon-checkmark-circle text-success mr-2"></i>
                                                <%= i18n.__('MSG_WALLET_TOPUP_DESCRIPTION2') %>
                                            </li>
                                            <li>
                                                <i class="icon-checkmark-circle text-success mr-2"></i>
                                                <%= i18n.__('MSG_WALLET_TOPUP_DESCRIPTION3') %>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    </div>


                    <div class="form-group">
                        <!-- <legend class="font-weight-semibold">
                            <span>
                                <%= i18n.__('MSG_WALLET_CHOOSE_PAYMENT_TITLE') %>
                            </span>
                        </legend> -->

                        <div class="row">
                            <% cardValues.forEach(card=> { %>
                                <div class="col-xl-3 col-sm-6">
                                    <div class="card card-coin-input" data-price="<%= card.value %>">
                                        <div class="card-body">
                                            <div class="card-img-actions text-center">
                                                <img src="/images/iphone.jpg" alt="cash-coin" width="100px" />
                                            </div>
                                        </div>

                                        <div class="card-body text-center">

                                            <h4 class="mb-0 text-muted">
                                                <%= card.title %>
                                            </h4>
                                            <p class="text-danger">
                                                Giá: <%= card.value.toLocaleString() %> đ
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white">
                    <div class="text-center">
                        <input type="hidden" name="card_value" value="" />
                        <button type="button"
                            class="btn btn-danger rounded-pill text-center w-100 font-weight-bold line-height-xs recharge-button"
                            id="recharge-button">
                            <%= i18n.__('MSG_PAYMENT_BTN') %>
                        </button>
                        <input type="hidden" data-toggle="modal" data-target="#modal_payment" id="_show_modal"></input>
                    </div>
                </div>
            </div>


        </div>
        <!-- /left content -->

    </div>
    <!-- /inner container -->

</div>

<div id="modal_payment" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn phương thức thanh toán</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card-body p-0">
                    <div class="d-lg-flex">
                        <ul
                            class="nav nav-tabs nav-tabs-vertical flex-column mr-lg-3 wmin-lg-200 mb-lg-0 border-bottom-0">
                            <li class="nav-item"><a href="#vertical-left-tab1" class="nav-link active font-weight-bold"
                                    data-toggle="tab"><i class="icon-credit-card mr-1 text-info"></i> Ngân hàng BIDV</a>
                            </li>
                            <li class="nav-item"><a href="#vertical-left-tab2" class="nav-link font-weight-bold"
                                    data-toggle="tab"><i class="icon-wallet mr-1 text-danger"></i> VMG Pay</a></li>
                        </ul>

                        <div class="tab-content flex-lg-fill">
                            <div class="tab-pane fade show active" id="vertical-left-tab1">
                                <div class="card-body p-1">
                                    <form action="#" method="POST">
                                        <div class="mb-2">
                                            <label class="form-label">Số tài khoản <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="customer_id"
                                                placeholder="Nhập số tài khoản" required>
                                        </div>

                                        <div class="mb-2">
                                            <label class="form-label">Tên tài khoản <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="customer_name"
                                                placeholder="Nhập tên tài khoản" required>
                                        </div>

                                        <div class="mb-2">
                                            <label class="form-label">Số tiền</label>
                                            <input type="text" class="form-control" name="price" id="bank_payment_price"
                                                readonly />
                                        </div>

                                        <ul class="list list-unstyled mb-3">
                                            <li>
                                                <i class="icon-checkmark2 text-success me-2"></i>
                                                Tôi đồng ý các điều khoản và điều kiện được nêu
                                            </li>
                                        </ul>

                                        <div class="text-center">
                                            <button type="button" onclick="bidv_payment_action(this)" class="btn btn-info btn-loading font-weight-bold"><i class="icon-spinner9 m-2"></i> Đồng ý thanh toán</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vertical-left-tab2">
                                <div class="card-body p-1">
                                    <p class="mb-3">Thanh toán sản phẩm bằng ví điện tử VMG Pay</p>
                                    <div class="text-center">
                                        <button type="button" onclick="vmg_payment_action(this)"
                                            data-initial-text="<i class='icon-spinner9 m-2'></i> Thanh toán qua VMG Pay"
                                            data-loading-text="<i class='icon-spinner9 spinner m-2'></i> Tiến hành thanh toán..."
                                            class="btn btn-danger btn-loading font-weight-bold"><i
                                                class="icon-spinner9 m-2"></i> Thanh toán qua VMG Pay</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery('.card-coin-input').click(function () {
        jQuery('.card-coin-input').removeClass('card-picked');
        jQuery(this).addClass('card-picked');
        jQuery('.card-checked').remove();
        jQuery(this).append('<img src="/images/checked.png" width="40" class="card-checked" />')
        const price = jQuery(this).data('price');
        jQuery('input[name="card_value"]').val(price);
    });


    document.addEventListener('DOMContentLoaded', function () {
        $('#recharge-button').on('click', function () {
            const price = jQuery('input[name="card_value"]').val();
            const recharge_notice = JSON.parse('<%- JSON.stringify(i18n.__("MSG_PLEASE_SELECT_PAYMENT_DENOMINATION_DESCRIPTION")) %>');

            if (price === '') {
                _componentNoty(recharge_notice, 'error');
            } else {
                $('#bank_payment_price').val(price);
                $('#_show_modal').trigger('click');
            }

        });
    });

    function vmg_payment_action(ele) {
        const price = jQuery('input[name="card_value"]').val();

        $.ajax({
            url: envClientUrl + '/payment/payment-via-wallet',
            type: 'POST',
            data: { price },
            success: function (res) {
                if (res.status == true) {
                    window.location.href = res.data;
                } else {
                    _componentNoty(res.message, 'error');
                }
            },
            error: function (error) {
                console.log(error)
            }
        })
    }

    function bidv_payment_action(ele) {
        const price = jQuery('input[name="card_value"]').val();
        const customer_id = jQuery('input[name="customer_id"]').val();
        const customer_name = jQuery('input[name="customer_name"]').val();
        if (customer_id === '') {
            _componentNoty('Vui lòng nhập số tài khoản ngân hàng', 'error');
            return;
        } 

        if (customer_name === '') {
            _componentNoty('Vui lòng nhập tên tài khoản ngân hàng', 'error');
            return;
        } 

        $(ele).data('initial-text', "<i class='icon-spinner9 m-2'></i> Đồng ý thanh toán");
        $(ele).data('loading-text', "<i class='icon-spinner9 spinner m-2'></i> Tiến hành thanh toán...");
        
        $.ajax({
            url: envClientUrl + '/payment/payment-via-bank',
            type: 'POST',
            data: { price, customer_id, customer_name },
            success: function (res) {
                if (res.status == true) {
                    window.location.href = res.data;
                } else {
                    _componentNoty(res.message, 'error');

                    $(ele).removeData('initial-text').removeData('loading-text');
                    return;
                }
            },
            error: function (error) {
                console.log(error)
            }
        })
    }
</script>