<!-- Theme JS files -->
<script src="/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script src="/global_assets/js/plugins/tables/datatables/extensions/col_reorder.min.js"></script>
<script src="/global_assets/js/demo_pages/datatables_basic.js"></script>
<!-- /theme JS files -->
<style>
    .datatable-footer .dataTables_info,
    .datatable-header .dataTables_filter {
        display: none;
    }

    .datatable-footer .dataTables_paginate {
        float: none;
        text-align: center !important;
    }
</style>
<div class="content pt-0">
    <div class="card">
        <div class="card-body">
            <div class="tab-content">
                    <!-- Basic column reorder -->
                <table class="table datatable-basic table-hover">
                    <thead>
                        <tr>
                            <th class="text-center"><%= i18n.__('Order ID') %></th>
                            <th class="text-center"><%= i18n.__('Transaction ID') %></th>
                            <th class="text-center"><%= i18n.__('Time') %></th>
                            <th class="text-center"><%= i18n.__('Content') %></th>
                            <th class="text-center"><%= i18n.__('Price') %></th>
                            <th class="text-center"><%= i18n.__('Type') %></th>
                            <th class="text-center"><%= i18n.__('Status') %></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { 
                            let status_type;
                            switch(order.status) {
                                case 'pending' :
                                status_type = 'warning';
                                break;
                                case 'error' :
                                status_type = 'danger';
                                break;
                                default :
                                status_type = 'success';
                                break;
                            }
                        %> 
                        <tr>
                            <td class="text-center"><a href="#"><%= (order._id) ? order._id : i18n.__('Undefined') %></a></td>
                            <td class="text-center"><a href="#"><%= (order.transaction_id) ? order.transaction_id : i18n.__('Undefined') %></a></td>
                            <td class="text-center"><%= moment(order.createdAt).tz('Asia/Ho_Chi_Minh').format("YYYY/MM/DD, HH:mm:ss") %></td>
                            <td class="text-center"><%= order.order_info %></td>
                            <td class="text-center"><%= order.price.toLocaleString() %></td>
                            <td class="text-center"><%= order.type ? order.type : 'null'  %></td>
                            <td class="text-center"><span class="badge badge-<%= status_type %>"><%= i18n.__(order.status) %></span></td>
                            <td hidden></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
                    <!-- /basic column reorder -->
            </div>
        </div>
    </div>
</div>

<script>
    // Basic datatable
    $('.datatable-basic').DataTable({
        autoWidth: false,
        columnDefs: [{ 
            orderable: false,
            width: 100,
            targets: [ 7 ]
        }],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
        },
        order: [ 2, 'desc' ],
    });
</script>