<!-- Theme JS files -->
<script src="../../../../global_assets/js/plugins/notifications/bootbox.min.js"></script>
<script src="../../../../global_assets/js/demo_pages/components_buttons.js"></script>
<div class="content p-0">
    <!-- Inner container -->
    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">
        <!-- Right sidebar component -->

        <!-- Left content -->
        <div class="tab-content w-100 order-2">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <legend class="font-weight-semibold">
                            <span>
                                <%= i18n.__('MSG_CD_INFORMATION_TITLE') %>
                            </span>
                        </legend>
                        <div class="card-body pb-0">
                            <form action="#" method="POST">
                                <div class="form-group">
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_CD_SUPPLIER_NAME_TITLE') %>
                                                    <span class="text-danger">*</span>
                                            </label>
                                            <input type="hidden" name="cd_supplier_name" id="cd_supplier_name"
                                                value="EVN" />
                                            <select class="form-control select">
                                                <option value="EVN" selected>EVN - Điện lực Toàn Quốc (Áp dụng các tỉnh
                                                    thành Việt Nam)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_CD_CUSTOMER_ID_TITLE') %>
                                                    <span class="text-danger">*</span>
                                            </label>
                                            <input type="text" name="cd_customer_id"
                                                placeholder="<%= i18n.__('MSG_CD_CUSTOMER_ID_PLACEHOLDER') %>"
                                                class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_CD_BILL_NUMBER_TITLE') %>
                                                    <span class="text-danger">*</span>
                                                    <button type="button" id="find-cd-action"
                                                        class="btn btn-info px-2 py-0 text-center ml-2">Lấy thông tin
                                                        hoá đơn</button>
                                            </label>
                                            <input type="text" name="cd_bill_number"
                                                class="form-control form-control-lg" readonly />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_CD_MONEY_TITLE') %>
                                            </label>
                                            <input type="text" name="cd_money" class="form-control form-control-lg"
                                                readonly />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_CD_CUSTOMER_NAME_TITLE') %>
                                            </label>
                                            <input type="text" name="cd_customer_name"
                                                class="form-control form-control-lg" readonly />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_CD_CUSTOMER_ADDRESS_TITLE') %>
                                            </label>
                                            <input type="text" name="cd_customer_address"
                                                class="form-control form-control-lg" readonly />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_CD_PERIOD_TITLE') %>
                                            </label>
                                            <input type="text" name="cd_period" class="form-control form-control-lg"
                                                readonly />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-sm-12">
                                            <label>
                                                <%= i18n.__('MSG_EXTRA_DATA_RAW_TITLE') %>
                                            </label>
                                            <textarea type="text" name="cd_extra_data"
                                                class="form-control form-control-lg" readonly></textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="text-center p-3">
                            <button type="button"
                                class="btn btn-success rounded-pill text-center w-100 font-weight-bold line-height-xs cd-action"
                                id="cd-action">
                                <%= i18n.__('MSG_CD_TEST_BTN') %>
                            </button>
                            <input type="hidden" data-toggle="modal" data-target="#modal_payment"
                                id="_show_modal"></input>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /left content -->
    </div>
    <!-- /inner container -->

</div>
<div id="modal_payment" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Chọn phương thức thanh toán</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="card-body p-0">
                    <div class="d-lg-flex">
                        <ul
                            class="nav nav-tabs nav-tabs-vertical flex-column mr-lg-3 wmin-lg-200 mb-lg-0 border-bottom-0">
                            <li class="nav-item"><a href="#vertical-left-tab1" class="nav-link active font-weight-bold"
                                    data-toggle="tab"><i class="icon-credit-card mr-1 text-info"></i> Ngân hàng BIDV</a>
                            </li>
                            <li class="nav-item"><a href="#vertical-left-tab2" class="nav-link font-weight-bold"
                                    data-toggle="tab"><i class="icon-wallet mr-1 text-danger"></i> VMG Pay</a></li>
                            <li class="nav-item"><a href="#vertical-left-tab3" class="nav-link font-weight-bold"
                                    data-toggle="tab"><i class="icon-qrcode mr-1 text-danger"></i> Thanh toán VA</a>
                            </li>
                        </ul>

                        <div class="tab-content flex-lg-fill">
                            <div class="tab-pane fade show active" id="vertical-left-tab1">
                                <div class="card-body p-1">
                                    <form action="#" method="POST">
                                        <div class="mb-2">
                                            <label class="form-label">Số tài khoản <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="account_number"
                                                placeholder="Nhập số tài khoản" required>
                                        </div>

                                        <div class="mb-2">
                                            <label class="form-label">Tên tài khoản <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" class="form-control" name="account_name"
                                                placeholder="Nhập tên tài khoản" required>
                                        </div>

                                        <div class="mb-2">
                                            <label class="form-label">Số tiền</label>
                                            <input type="text" class="form-control" name="price" id="bank_payment_price"
                                                readonly />
                                        </div>

                                        <ul class="list list-unstyled mb-3">
                                            <li>
                                                <i class="icon-checkmark2 text-success me-2"></i>
                                                Tôi đồng ý các điều khoản và điều kiện được nêu
                                            </li>
                                        </ul>

                                        <div class="text-center">
                                            <button type="button" id="bidv_payment_action"
                                                class="btn btn-info font-weight-bold"><i
                                                    class="icon-spinner9 m-2"></i> Đồng ý thanh toán</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vertical-left-tab2">
                                <div class="card-body p-1">
                                    <p class="mb-3">Thanh toán thu hộ bằng ví điện tử VMG Pay</p>
                                    <div class="text-center">
                                        <button type="button" id="vmg_payment_action"
                                            data-initial-text="<i class='icon-spinner9 m-2'></i> Thanh toán qua VMG Pay"
                                            data-loading-text="<i class='icon-spinner9 spinner m-2'></i> Tiến hành thanh toán..."
                                            class="btn btn-danger btn-loading font-weight-bold"><i
                                                class="icon-spinner9 m-2"></i> Thanh toán qua VMG Pay</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="vertical-left-tab3">
                                <div class="card-body p-1 text-center">
                                    <p class="mb-1">Thanh toán VA qua mã QR <button type="button" id="create_va_qr"
                                            class="btn btn-info px-2 py-0 text-center ml-2">Tạo mã ngay</button>
                                    </p>
                                    <p class="mb-2 text-danger">Mã QR chỉ dùng được một lần</p>
                                    <div class="m-1" id="cd-qrcode"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // Element input
    const el_cd_supplier_name = $('input[name="cd_supplier_name"]');
    const el_cd_customer_id = $('input[name="cd_customer_id"]');
    const el_cd_bill_number = $('input[name="cd_bill_number"]');
    const el_cd_money = $('input[name="cd_money"]');
    const el_cd_customer_name = $('input[name="cd_customer_name"]');
    const el_cd_customer_address = $('input[name="cd_customer_address"]');
    const el_cd_period = $('input[name="cd_period"]');
    const el_cd_extra_data = $('textarea[name="cd_extra_data"]');

    jQuery(document).ready(function ($) {
        // Format number amount
        function formatNumberAmount(amount) {
            return amount.split(/[,.]+/).join('')
        }



        // Tìm thông tin chủ tài khoản
        $("#find-cd-action").on("click", (e) => {
            let cd_supplier_name = el_cd_supplier_name.val();
            let cd_customer_id = el_cd_customer_id.val();


            if (!cd_customer_id || cd_customer_id == "") {
                return (
                    el_cd_customer_id.focus(),
                    el_cd_customer_id.addClass('is-invalid'),
                    _componentNoty('<%= i18n.__("MSG_WARNING_CD_VALIDATION_CUSTOMER_ID") %>', 'warning')
                )
            } else {
                el_cd_customer_id.removeClass('is-invalid');
            }

            const data = {
                service_code: cd_supplier_name,
                customer_id: cd_customer_id
            }

            $("#find-cd-action").html('Đang xử lý...').addClass('disabled').attr('disabled', 'disabled');

            fetchAPI({
                url: envClientUrl + '/cd/get-bill',
                method: 'POST',
                data
            }).then((res) => {
                $("#find-cd-action").html('Lấy thông tin hoá đơn').removeClass('disabled').removeAttr('disabled');
                _componentNoty(res.message, (res.status ? 'success' : 'error'));

                if (res.data) {
                    el_cd_bill_number.val(res.data.bill_number ? res.data.bill_number : '');
                    el_cd_money.val(res.data.amount ? res.data.amount : 0);
                    el_cd_customer_name.val(res.data.customerName ? res.data.customerName : '');
                    el_cd_customer_address.val(res.data.customerAddress ? res.data.customerAddress : '');
                    el_cd_period.val(res.data.period ? res.data.period : '');
                    el_cd_extra_data.val(res.data.extra_data ? JSON.stringify(res.data.extra_data) : '');
                }
            }).catch((err) => {
                $("#find-cd-action").html('Lấy thông tin hoá đơn').removeClass('disabled').removeAttr('disabled');
                _componentNoty(err.message, 'error');
            })
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        $('#cd-action').on('click', function () {
            // Lấy dữ liệu
            const cd_supplier_name = el_cd_supplier_name.val();
            const cd_customer_id = el_cd_customer_id.val();
            const cd_bill_number = el_cd_bill_number.val();
            const cd_money = el_cd_money.val();

            if (cd_supplier_name == '' || cd_customer_id == '' || cd_bill_number == '' || cd_money == '') {
                _componentNoty(JSON.parse('<%- JSON.stringify(i18n.__("MSG_PLEASE_SELECT_BILL_INFO_DESCRIPTION")) %>'), 'error');
            } else {
                $('#bank_payment_price').val(el_cd_money.val())
                $('#_show_modal').trigger('click');
            }

        });

        $("#vmg_payment_action").on('click', function (e) {
            const cd_supplier_name = el_cd_supplier_name.val();
            const cd_customer_id = el_cd_customer_id.val();
            const cd_bill_number = el_cd_bill_number.val();
            const cd_money = el_cd_money.val();
            const cd_customer_name = el_cd_customer_name.val();
            const cd_customer_address = el_cd_customer_address.val();
            const cd_period = el_cd_period.val();
            const cd_extra_data = el_cd_extra_data.val();

            if (cd_supplier_name == '' || cd_customer_id == '' || cd_bill_number == '') {
                _componentNoty(JSON.parse('<%- JSON.stringify(i18n.__("MSG_PLEASE_SELECT_BILL_INFO_DESCRIPTION")) %>'), 'error');
                return;
            }

            $.ajax({
                url: envClientUrl + '/cd/payment/payment-via-wallet',
                type: 'POST',
                data: {
                    service_code: cd_supplier_name,
                    customer_id: cd_customer_id,
                    bill_number: cd_bill_number,
                    amount: cd_money,
                    customer_name: cd_customer_name,
                    customer_address: cd_customer_address,
                    period: cd_period,
                    extra_data: cd_extra_data
                },
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = res.data;
                    } else {
                        _componentNoty(res.message, 'error');
                    }
                },
                error: function (error) {
                    console.log(error)
                }
            })
        });

        $("#bidv_payment_action").on('click', function (ele) {
            const cd_supplier_name = el_cd_supplier_name.val();
            const cd_customer_id = el_cd_customer_id.val();
            const cd_bill_number = el_cd_bill_number.val();
            const cd_money = el_cd_money.val();
            const cd_customer_name = el_cd_customer_name.val();
            const cd_customer_address = el_cd_customer_address.val();
            const cd_period = el_cd_period.val();
            const cd_extra_data = el_cd_extra_data.val();
            const cd_account_number = $('input[name=account_number]').val();
            const cd_account_name = $('input[name=account_name]').val();

            if (cd_supplier_name == '' || cd_customer_id == '' || cd_bill_number == '' || cd_account_number == '' || cd_account_name == '') {
                _componentNoty(JSON.parse('<%- JSON.stringify(i18n.__("MSG_PLEASE_SELECT_BILL_INFO_DESCRIPTION")) %>'), 'error');
                return;
            }

            $("#bidv_payment_action").html("<i class='icon-spinner9 spinner m-2'></i> Tiến hành thanh toán...");
     
            $.ajax({
                url: envClientUrl + '/cd/payment/payment-via-bank',
                type: 'POST',
                data: {
                    account_number: cd_account_number,
                    account_name: cd_account_name,
                    service_code: cd_supplier_name,
                    customer_id: cd_customer_id,
                    bill_number: cd_bill_number,
                    amount: cd_money,
                    customer_name: cd_customer_name,
                    customer_address: cd_customer_address,
                    period: cd_period,
                    extra_data: cd_extra_data
                },
                success: function (res) {
                    if (res.status == true) {
                        window.location.href = res.data;
                    } else {
                        _componentNoty(res.message, 'error');

                        $("#bidv_payment_action").html('<i class="icon-spinner9 m-2"></i> Đồng ý thanh toán');
                        return;
                    }
                },
                error: function (error) {
                    console.log(error)
                    $("#bidv_payment_action").html('<i class="icon-spinner9 m-2"></i> Đồng ý thanh toán');
                }
            })
        });

        $("#create_va_qr").on('click', function (e) {
            const cd_supplier_name = el_cd_supplier_name.val();
            const cd_customer_id = el_cd_customer_id.val();
            const cd_bill_number = el_cd_bill_number.val();
            const cd_money = el_cd_money.val();
            const cd_customer_name = el_cd_customer_name.val();
            const cd_customer_address = el_cd_customer_address.val();
            const cd_period = el_cd_period.val();
            const cd_extra_data = el_cd_extra_data.val();

            if (cd_supplier_name == '' || cd_customer_id == '' || cd_bill_number == '') {
                _componentNoty(JSON.parse('<%- JSON.stringify(i18n.__("MSG_PLEASE_SELECT_BILL_INFO_DESCRIPTION")) %>'), 'error');
                return;
            }

            $("#create_va_qr").html('Đang xử lý...').addClass('disabled').attr('disabled', 'disabled');

            $.ajax({
                url: envClientUrl + '/cd/payment/create-qr',
                type: 'POST',
                data: {
                    service_code: cd_supplier_name,
                    customer_id: cd_customer_id,
                    bill_number: cd_bill_number,
                    amount: cd_money,
                    customer_name: cd_customer_name,
                    customer_address: cd_customer_address,
                    period: cd_period,
                    extra_data: cd_extra_data
                },
                success: function (res) {
                    $("#create_va_qr").html('Tạo mã ngay').removeClass('disabled').removeAttr('disabled');
                    _componentNoty(res.message, (res.status ? 'success' : 'error'));

                    if (res.data.vietQRImage) {
                        const image = new Image();
                        image.src = "data:image/jpg;base64," + res.data.vietQRImage;
                        $("#cd-qrcode").html(image);
                    } else {
                        $("#cd-qrcode").html('Không thể parse được dữ liệu ảnh');
                    }
                },
                error: function (error) {
                    $("#create_va_qr").html('Tạo mã ngay').removeClass('disabled').removeAttr('disabled');
                    _componentNoty(err.message, 'error');
                }
            })
        });
    });
</script>